In [34]:
import requests
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

# Connect to the MySQL server and database
engine = create_engine('mysql+mysqlconnector://root:Flourishsada_12@localhost/record_company')

# Scrape the data and store it in a list
with open('Bloomberg Billionaires Index.html', encoding='utf-8') as file:
    soup = BeautifulSoup(file, 'html.parser')

table = soup.find("div", class_="table-chart")
rows = table.find_all("div", class_="table-row")
data = []

for row in rows:
    rank = row.find("div", class_="t-rank").text.strip()
    name = row.find("div", class_="t-name").text.strip()
    net_worth = row.find("div", class_="t-nw").text.strip()
    last_change = row.find("div", class_="t-lcd").text.strip()
    ytd_change = row.find("div", class_="t-ycd").text.strip()
    country = row.find("div", class_="t-country").text.strip()
    industry = row.find("div", class_="t-industry").text.strip()

    data.append((rank, name, net_worth, last_change, ytd_change, country, industry))

# Define the name of the table you want to create
table_name = "billionaires"

# Create the table in the database (if it doesn't already exist)
with engine.connect() as conn:
    create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} (Ra_nk INT, Name VARCHAR(255), `Net Worth` VARCHAR(255), `Last Change` VARCHAR(255), `YTD Change` VARCHAR(255), Country VARCHAR(255), Industry VARCHAR(255))"
    conn.execute(create_table_query)

# Upload the data to the table
with engine.connect() as conn:
    insert_query = f"INSERT INTO {table_name} (Ra_nk, Name, `Net Worth`, `Last Change`, `YTD Change`, Country, Industry) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    conn.execute(insert_query, data)